.nav {
    background-color: #EDEDEC;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


body {
    padding-top: 80px; 
}

.nav-button{
    border: black !important;
}

.nav-link:hover {
    color: #e21429 !important;
  }